<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
<br><br>
  <div class="col-lg-3 col-md-3"></div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="background-color:rgba(164, 172, 21, 0.45);">
      <br><center>NEW USER REGISTER</center>
      <form action="/newRegister" style="padding:10%;" method="post">
        <div class="row">
          <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4">Name :</div>
            <div class=" col-sm-12 col-xs-12 col-md-8 col-lg-8"><input type="text" id="username" name="username" required class="col-sm-12 col-xs-12"><br><br></div>
        </div>
        <div class="row">
          <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4">Email id:</div>
          <div class=" col-sm-12 col-xs-12 col-md-8 col-lg-8"><input type="email" id="email" name="email" required class=" col-sm-12 col-xs-12"><br><br></div>
        </div>
        <div class="row">
          <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4">Contact no :</div>
          <div class=" col-sm-12 col-xs-12 col-md-8 col-lg-8"><input type="text" id="contact" name="contact" required class=" col-sm-12 col-xs-12"><br><br></div>
        </div>
        <div class="row">
          <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4">password:</div>
          <div class=" col-sm-12 col-xs-12 col-md-8 col-lg-8"><input type="password" id="password" name="password" required class=" col-sm-12 col-xs-12"><br><br></div>
        </div>
        <div class="row">
          <input type="submit" value="Register" class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
        </div>
      </form>
    </div>

  </body>
</html>
